<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
      <!--Start menu-->
      <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="InstallMenuFolder" Name="!(loc.ProductName)" />
      </StandardDirectory>

      <!--If 64 bits-->
      <?if $(var.Platform)=x64?>
      <StandardDirectory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="!(loc.ProductName)">
          <Directory Id="ServerInstallFolder" Name="Server" />
        </Directory>
      </StandardDirectory>
      <!--Else 32 bits-->
      <?else?>
      <StandardDirectory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="!(loc.ProductName)">
          <Directory Id="ServerInstallFolder" Name="Server" />
        </Directory>
      </StandardDirectory>
      <?endif?>
    </Fragment>
</Wix>
